<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frick Schools</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    <div class="main">
      <div class="navbar">
        <ul class="navbar-items">
          <div class="logo">
            <a href="/"
              ><img src="static/img/logo.jpg" alt="Middle Finger" id="nav-logo"
            /></a>
          </div>
          <li><a href="/" class="navbar-link">Home</a></li>
          <li><a href="#about" class="navbar-link">About</a></li>
          <li><a href="#contact" class="navbar-link">Contact</a></li>
        </ul>
      </div>
      <div class="page">
        <div class="box-main">
          <div class="firstHalf">
            <p>
              In this world of 7 billion people, we neeed to educate all 7
              billion of them! We are proud to say that the future of education
              is nowhere!
            </p>
            <div class="buttons">
              <form action="/" method="POST">
                <button type="submit" value="oneF" name="F">
                  Give 1 Fuck!
                </button>
                <button type="submit" value="hundredF" name="F">
                  Give 100 Fucks!
                </button>
              </form>
            </div>
            <p>{{content}} Fucks Given!</p>
          </div>
          <div class="secondHalf">
            <img
              src="../static/img/logo.jpg"
              alt="Middle Finger"
              class="c-logo"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>
</html>
