<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frick Schools</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="navbar">
        <ul class="navbar-items">
            <div class="logo"><img src="static/img/logo.jpg" alt="Middle Finger" id="nav-logo"></div>
            <li><a href="#home" class="navbar-link">Home</a></li>
            <li><a href="#about" class="navbar-link">About</a></li>
            <li><a href="#contact" class="navbar-link">Contact</a></li>
        </ul>
    </div>
</body>

</html>